@import '~material-design-icons/iconfont/material-icons.css';
@import '~font-awesome/css/font-awesome.css';
@import '~font-awesome/css/font-awesome.min.css';

nav{
    transition: 0.5s;
}

.home-button{
    padding-top: 50px;
}

.home-button a{
    border: 2px solid;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-right: 15px;
    padding: 13px 20px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}
.home-button a:hover{
    transition: 1s;
    color:black;
    background-color: blanchedalmond;
}

.welcome-mockup img{
    width: 100%;
    object-fit: cover;
    height: 300px;
    margin-top: -50px;
}

.welcome-text{
    color: #ffffff;
}

.welcome-text h1{
    font-size: 40px;
    margin-bottom: 30px;
}

p{
    margin: 0 0 10px;
}

.area-title{
    margin-bottom: 80px;
    position: relative;
}

.area-title h2{
    color: #1a264a;
    line-height: 1;
    position: relative;
    margin-bottom: 30px !important;
}

body {
    /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
font-size: 14px;
line-height: 1.6em;
font-weight: 400;
color: #6f6f6f;
}

.qs-box-icon i{
border: 2px solid #545096;
border-radius: 50%;
padding-top: 12px;
}

.intro-area .area-bg::after{
    background: #545096 none repeat scroll 0 0;
    opacity: 0.9;
}

.qs-box-icon img{
    width: 50px;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border: 0;
}

.qs-box.pos-icon-right{
    text-align: right;
}

.jam-img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border: 0;
}

.pull-left{
    float: left !important;
}

.mb100{
    margin-bottom: 100px;
}

.flex-v-center{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.img-responsive{
    display: block;
    max-width: 100%;
    height: auto;
}

.project-box {
  position: relative;
}

.project-box .project-overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.project-box .project-overlay .project-content {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
  left: 0;
  text-align: center;
}

.project-box .project-overlay .project-content .project-icon {
  border: 1px solid #ffffff;
  color: #ffffff;
  height: 48px;
  width: 48px;
  line-height: 48px;
  margin: 0 auto;
  border-radius: 50px;
}

.project-box:hover .project-overlay {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  opacity: 1;
}

.download-area.section-padding{
    padding-top: 200px;
    color: #ffffff;
}

/* .download-area .area-bg::after{
    background: rgba(0, 0, 0, 0) url("https://odajer.com/assets/site_new/img/mockups/hand-mockup.png") no-repeat scroll center 106% / auto 80%;
} */

.download-content .download-button{
    border: 1px solid;
    border-radius: 5px;
    display: inline-block;
    font-size: 12px;
    letter-spacing: 1px;
    margin-top: 20px;
    padding: 0 0 10px 30px;
    position: relative;
    text-align: center;
    text-transform: capitalize;
    width: 210px;
    color: #ffffff;
}
.download-button a{
    transition: 0.3s;
    text-decoration: none;
    background-color: transparent;
}

.download-content.download-button i{
    font-size: 30px; left: 14px; position: absolute; top: 16px; width: 0;
}

.download-button span{
    display: block;
    font-size: 26px;
    line-height: 1;
}

.single-price{
    background: #ffffff none repeat scroll 0 0;
    -webkit-box-shadow: 0 0 10px #dddfe0;
    box-shadow: 0 0 10px #dddfe0;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    border: 1px solid #f7f7f7 !important;
    text-align: center;
}

.price-hidding{
    padding: 30px 30px 15px;
}

.price-rate{
    background: #f8fafc none repeat scroll 0 0;
    padding: 25px 0;
}

.price-details{
    padding: 30px 0 20px;
    text-align: left;
}

.buy-now-button{
    padding: 25px 0 50px;
}

.buy-now-button a{
    border-radius: 50px;
    letter-spacing: 2px;
}

.read-more{
    background: #ffffff none repeat scroll 0 0;
    border: 2px solid;
    border-radius: 5px;
    color: #545096;
    display: inline-block;
    font-weight: 500;
    margin-top: 10px;
    padding: 10px 29px;
    text-transform: uppercase;
}

.price-details ul{
    list-style: none;
}
.price-details li{
    padding: 10px 10px 10px 25px;
}

.social-bookmark li{
    display: inline;
}

.social-bookmark li a{
    border-radius: 5px;
    font-size: 20px;
    height: 40px;
    margin: 0 5px;
    padding-top: 8px;
    text-align: center;
    width: 40px;
    display: inline-block;
    color: #ffffff;
    transition: 0.5s;
}

.social-bookmark li a:hover{
    border-radius: 5px;
    font-size: 20px;
    height: 40px;
    margin: 0 5px;
    padding-top: 8px;
    text-align: center;
    width: 40px;
    display: inline-block;
    color: #545096;
    transition: 0.5s;
}

.social-bookmark li a.facebook{
    background: #677fb5;
}

.social-bookmark li a.twitter {
    background: #70c2e9;
}

.social-bookmark li a.linkedin {
    background: #007ab9;
}

.social-bookmark li a.youtube {
    background: #ff0000;
}

.social-bookmark li a.facebook:hover{
    background: #ffffff;
}

.social-bookmark li a.twitter:hover{
    background: #ffffff;
}

.social-bookmark li a.linkedin:hover{
    background: #ffffff;
}

.social-bookmark li a.youtube:hover{
    background: #ffffff;
}
