<head>
    <!-- <link rel="shortcut icon" href="../../assets/images/favicon.ico"> -->

    <!-- Pe-7 icon -->
    <!-- <link href="../../assets/css/pe-icon-7.css" rel="stylesheet" type="text/css" /> -->

    <!--Slider-->
    <!-- <link rel="stylesheet" href="../../assets/css/owl.carousel.min.css" /> -->
    <!-- <link rel="stylesheet" href="../../assets/css/owl.theme.default.min.css" /> -->

    <!-- css -->
    <!-- <link href="../../assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" /> -->
    <!-- <link href="../../assets/css/style.min.css" rel="stylesheet" type="text/css" /> -->
</head>

<body>

    <!-- Loader -->
    <div id="preloader">
        <div id="status">
            <div class="spinner">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
        </div>
    </div>

    <!--Navbar Start-->
    <nav class="navbar navbar-expand-lg fixed-top navbar-custom sticky sticky-dark align-items-center navbar-light">
        <div class="container">
            <!-- LOGO -->
            <a class="logo mr-3" href="layout-one-1.html">
                <img src="../../assets/images/logo.png" alt="" class="logo-light" height="50">
                <img src="../../assets/images/logo.png" alt="" class="logo-dark" height="26">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <i class="" data-feather="menu"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav navbar-center" id="mySidenav">
                    <li class="nav-item active">
                        <a href="#home" SimpleSmoothScroll class="nav-link">Halaman Utama</a>
                    </li>
                    <li class="nav-item">
                        <a href="#feature" SimpleSmoothScroll class="nav-link">Ciri-ciri</a>
                    </li>
                    <li class="nav-item">
                        <a href="#pricing" SimpleSmoothScroll class="nav-link">Harga</a>
                    </li>
                    <li class="nav-item">
                        <a href="#tutorial" SimpleSmoothScroll class="nav-link">Tutorial</a>
                    </li>
                    <li class="nav-item">
                        <a href="#blog" SimpleSmoothScroll class="nav-link">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a href="#contact" SimpleSmoothScroll class="nav-link">Hubungi Kami</a>
                    </li>
                </ul>

                <ul class="list-inline ml-auto menu-social-icon mb-0 py-2 py-lg-0">
                    <li class="list-inline-item ml-0">
                        <a href="#" class="menu-social-link"><i class="icon-xs sw_1-5" data-feather="facebook"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" class="menu-social-link"><i class="icon-xs sw_1-5" data-feather="twitter"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" class="menu-social-link"><i class="icon-xs sw_1-5" data-feather="instagram"></i></a>
                    </li>
                    <li class="list-inline-item mr-0">
                        <a href="#" class="menu-social-link"><i class="icon-xs sw_1-5" data-feather="linkedin"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Navbar End -->

    <!-- Hero Start -->
    <section class="hero-2-bg bg-primary position-relative" id="home">
        <div class="hero-overlay hero-2-overlay" style="background-image: url(../../assets/images/hero-2-overlay.png)">
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="welcome-mockup center">
                        <!-- <img src="https://odajer.com/assets/site_new/img/home/watch-mockup.png" alt=""> -->
                        <img src="../../assets/images/watch-mockup.png" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="welcome-text">
                        <h1><span>Odajer</span></h1>
                        <p>Ini adalah perisian pemasaran Messenger pertama, paling terbaik dan lengkap di dunia untuk
                            Facebook.</p>
                        <div class="home-button">
                            <a href="#features">Ciri terperinci</a>
                            <a href="https://odajer.com/home/sign_up">Daftar sekarang</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-bottom-shape">
            <img src="../../assets/images/hero-2-bottom-shape.png" alt="" class="img-fluid d-block mx-auto">
        </div>
    </section>
    <!-- Hero End -->

    <!-- About us Start -->

    <!-- About us End -->

    <!-- Services Start -->
    <section class="section bg-light" id="services">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="text-center mb-5">
                        <h2 class="">Ciri utama : Odajer</h2>
                        <P class="text-muted">Lebih hebat daripada pemasaran e-mel!</P>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="card service-box text-center p-4">
                        <div class="service-icon-bg mx-auto avatar-xxl p-4"
                            style="background-image: url(../../assets/images/service-icon-bg.png)">
                            <div class="service-box-icon justify-content-center">
                                <i class="fas fa-robot" style="font-size: 60px;"></i>
                            </div>
                        </div>
                        <h4 class="service-title mt-4 mb-3 f-18">Ciri Keseluruhan Bot Messenger</h4>
                        <p class="service-subtitle mb-4 f-15">Bot Messenger sedia untuk membalas 24/7</p>
                        <a href="#" class="read-more">Lagi<span class="right-icon ml-2">&#8594;</span></a>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card service-box text-center p-4">
                        <div class="service-icon-bg mx-auto avatar-xxl p-4"
                            style="background-image: url(../../assets/images/service-icon-bg.png)">
                            <div class="service-box-icon justify-content-center">
                                <i class="material-icons" style="font-size: 60px;">forum</i>
                            </div>
                        </div>
                        <h4 class="service-title mt-4 mb-3 f-18">Balasan automatik</h4>
                        <p class="service-subtitle mb-4 f-15">Membolehkan anda menetapkan komen balas automatik dan
                            memberi komen kepada balasan peribadi.</p>
                        <a href="#" class="read-more">More<span class="right-icon ml-2">&#8594;</span></a>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card service-box text-center p-4">
                        <div class="service-icon-bg mx-auto avatar-xxl p-4"
                            style="background-image: url(../../assets/images/service-icon-bg.png)">
                            <div class="service-box-icon justify-content-center">
                                <i class="fas fa-envelope" style="font-size: 60px;"></i>
                            </div>
                        </div>
                        <h4 class="service-title mt-4 mb-3 f-18">Penghantaran mesej pukal</h4>
                        <p class="service-subtitle mb-4 f-15">Hantarkan mesej pukal kepada pelanggan Messenger anda.</p>
                        <a href="#" class="read-more">Lagi<span class="right-icon ml-2">&#8594;</span></a>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card service-box text-center p-4">
                        <div class="service-icon-bg mx-auto avatar-xxl p-4"
                            style="background-image: url(../../assets/images/service-icon-bg.png)">
                            <div class="service-box-icon justify-content-center">
                                <i class="fas fa-share-square" style="font-size: 60px;"></i>
                            </div>
                        </div>
                        <h4 class="service-title mt-4 mb-3 f-18">Melengkapkan post di Facebook</h4>
                        <p class="service-subtitle mb-4 f-15">Anda boleh menghantar teks, gambar, pautan, video atau
                            karusel / video ke kumpulan halaman Facebook anda.</p>
                        <a href="#" class="read-more">Lagi<span class="right-icon ml-2">&#8594;</span></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Services End -->

    <!-- Features Start -->
    <section class="section" id="features">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="text-center mb-5">
                        <h2 class="">Ciri-ciri Terperinci</h2>
                        <P class="text-muted">Odajer Kini bukan sahaja alat pemasaran utusan, tetapi juga mempunyai ciri
                            penyiaran halaman yang paling lengkap yang
                            dapat mengatasi alat penyiaran Facebook lain yang ada di pasaran.</P>
                    </div>
                </div>
            </div>
            <div class="features-content">
                <div class="row align-items-center">
                    <!-- <div class="col-lg-6 order-2 order-lg-1">
                        <div class="tab-content" id="v-pills-tabContent">
                            <div class="tab-pane fade show active" id="v-pills-work" role="tabpanel"
                                aria-labelledby="v-pills-work-tab">
                                <img src="../../assets/images/features/img-1.png" alt=""
                                    class="img-fluid d-block mx-auto">
                            </div>

                            <div class="tab-pane fade" id="v-pills-marketing" role="tabpanel"
                                aria-labelledby="v-pills-marketing-tab">
                                <img src="../../assets/images/features/img-2.png" alt=""
                                    class="img-fluid d-block mx-auto">
                            </div>
                            <div class="tab-pane fade" id="v-pills-feedback" role="tabpanel"
                                aria-labelledby="v-pills-feedback-tab">
                                <img src="../../assets/images/features/img-3.png" alt=""
                                    class="img-fluid d-block mx-auto">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 offset-lg-1  order-1 order-lg-2">
                        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist"
                            aria-orientation="vertical">
                            <a class="nav-link active" id="v-pills-work-tab" data-toggle="pill" href="#v-pills-work"
                                role="tab" aria-controls="v-pills-work" aria-selected="true">
                                <h4 class="text-dark f-18">Works With Existing Apps</h4>
                                <p class="text-muted f-15">At solmen necessi a uniform grammatica pronunciation sommun
                                    plu paroles ma quande.</p>
                                <p class="text-primary mb-0 read-more">More Information<span
                                        class="right-icon ml-2">&#8594;</span></p>
                            </a>
                            <a class="nav-link" id="v-pills-marketing-tab" data-toggle="pill" href="#v-pills-marketing"
                                role="tab" aria-controls="v-pills-marketing" aria-selected="false">
                                <h4 class="text-dark f-18">Easy Email Marketing</h4>
                                <p class="text-muted f-15">At solmen necessi a uniform grammatica pronunciation sommun
                                    plu paroles ma quande.</p>
                                <p class="text-primary mb-0 read-more">More Information<span
                                        class="right-icon ml-2">&#8594;</span></p>
                            </a>
                            <a class="nav-link" id="v-pills-feedback-tab" data-toggle="pill" href="#v-pills-feedback"
                                role="tab" aria-controls="v-pills-feedback" aria-selected="false">
                                <h4 class="text-dark f-18">Get Private Customers Feedback</h4>
                                <p class="text-muted f-15">At solmen necessi a uniform grammatica pronunciation sommun
                                    plu paroles ma quande.</p>
                                <p class="text-primary mb-0 read-more">More Information<span
                                        class="right-icon ml-2">&#8594;</span></p>
                            </a>
                        </div>
                    </div> -->
                    <div class="col-lg-6">
                        <!-- <img src="https://odajer.com/assets/site_new/img/mockups/home-two-features-mockup.png" alt=""
                            class="img-fluid d-block mx-auto"> -->
                        <img src="../../assets/images/home-two-features-mockup.png" alt=""
                            class="img-fluid d-block mx-auto">
                    </div>
                    <div class="col-lg-3">
                        <a class="nav-link active" id="v-pills-work-tab" data-toggle="pill" href="#v-pills-work"
                            role="tab" aria-controls="v-pills-work" aria-selected="true">
                            <h4 class="text-dark f-18">Hantar mesej pukal</h4>
                            <p class="text-muted f-15">Mempunyai ciri menghantar mesej pukal kepada pelanggan.</p>
                        </a>
                        <a class="nav-link active" id="v-pills-work-tab" data-toggle="pill" href="#v-pills-work"
                            role="tab" aria-controls="v-pills-work" aria-selected="true">
                            <h4 class="text-dark f-18">Balasan peribadi automatik</h4>
                            <p class="text-muted f-15">Mempunyai ciri menghantar balasan automatik ke peti masuk
                                pengulas siaran anda.</p>
                        </a>
                        <a class="nav-link active" id="v-pills-work-tab" data-toggle="pill" href="#v-pills-work"
                            role="tab" aria-controls="v-pills-work" aria-selected="true">
                            <h4 class="text-dark f-18">Teks / gambar / video / pautan pos</h4>
                            <p class="text-muted f-15">Mempunyai ciri menghantar semua jenis ke halaman Facebook.</p>
                        </a>
                        <a class="nav-link active" id="v-pills-work-tab" data-toggle="pill" href="#v-pills-work"
                            role="tab" aria-controls="v-pills-work" aria-selected="true">
                            <h4 class="text-dark f-18">Bot Reply</h4>
                            <p class="text-muted f-15">Membantu meningkatkan masa tindak balas halaman dengan membalas
                                mesej peti masuk berdasarkan kata kunci.
                            </p>
                        </a>
                    </div>
                    <div class="col-lg-3">
                        <a class="nav-link active" id="v-pills-work-tab" data-toggle="pill" href="#v-pills-work"
                            role="tab" aria-controls="v-pills-work" aria-selected="true">
                            <h4 class="text-dark f-18">Balasan komen automatik</h4>
                            <p class="text-muted f-15">Mempunyai ciri menghantar balasan automatik ke komen-komen siaran
                                anda.</p>
                        </a>
                        <a class="nav-link active" id="v-pills-work-tab" data-toggle="pill" href="#v-pills-work"
                            role="tab" aria-controls="v-pills-work" aria-selected="true">
                            <h4 class="text-dark f-18">Komen automatik like</h4>
                            <p class="text-muted f-15">Mempunyai ciri automatik like catatan baru di halaman anda.</p>
                        </a>
                        <a class="nav-link active" id="v-pills-work-tab" data-toggle="pill" href="#v-pills-work"
                            role="tab" aria-controls="v-pills-work" aria-selected="true">
                            <h4 class="text-dark f-18">Pengurus mesej halaman</h4>
                            <p class="text-muted f-15">Membantu anda melihat mesej yang belum dibaca, menghantar balasan
                                dan juga mempunyai kemudahan berbual</p>
                        </a>
                        <a class="nav-link active" id="v-pills-work-tab" data-toggle="pill" href="#v-pills-work"
                            role="tab" aria-controls="v-pills-work" aria-selected="true">
                            <h4 class="text-dark f-18">Menu Berterusan</h4>
                            <p class="text-muted f-15">Pilihan menu yang disesuaikan di dalam peti masuk halaman anda
                                untuk membantu orang meneroka lebih banyak mengenai anda.</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- <img src="https://odajer.com/assets/site_new/img/feature/2.jpg" alt=""
                    class="img-fluid d-block blog-img mr-3"> -->
                <img src="../../assets/images/features/2.jpg" alt="" class="img-fluid d-block blog-img mr-3">
            </div>
            <div class="row">
                <!-- <img src="https://odajer.com/assets/site_new/img/feature/4.jpg" alt=""
                    class="img-fluid d-block blog-img mr-3"> -->
                <img src="../../assets/images/features/4.jpg" alt="" class="img-fluid d-block blog-img mr-3">
            </div>
            <div class="row">
                <!-- <img src="https://odajer.com/assets/site_new/img/feature/5.jpg" alt=""
                    class="img-fluid d-block blog-img mr-3"> -->
                <img src="../../assets/images/features/5.jpg" alt="" class="img-fluid d-block blog-img mr-3">
            </div>
        </div>
    </section>
    <!-- Features End -->

    <!-- Project Start -->
    <section class="section bg-light" id="project">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="text-center mb-5">
                        <h2 class="">Terokai video promo terbaik</h2>
                        <P class="text-muted">Lihat video promo super</P>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6">
                    <div class="project-box mb-4">
                        <div class="position-relative overflow-hidden rounded">
                            <img src="../../assets/images/video-promo-slide-1.png" alt=""
                                class="img-fluid d-block mx-auto shadow">
                            <div class="project-overlay">
                                <div class="project-content">
                                    <a href="#">
                                        <div class="project-icon">
                                            <i class="fa fa-play" aria-hidden="true"></i>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="p-3">
                            <h4 class="f-17 mb-1"><a href="" class="text-dark">Promo Video 1</a></h4>
                            <!-- <p class="text-muted">UI/UX Designer</p> -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="project-box mb-4">
                        <div class="position-relative overflow-hidden rounded">
                            <img src="../../assets/images/video-promo-slide-1.png" alt=""
                                class="img-fluid d-block mx-auto shadow">
                            <div class="project-overlay">
                                <div class="project-content">
                                    <a href="#">
                                        <div class="project-icon">
                                            <i class="fa fa-play" aria-hidden="true"></i>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="p-3">
                            <h4 class="f-17 mb-1"><a href="" class="text-dark">Promo Video 2</a></h4>
                            <!-- <p class="text-muted">Web Designer</p> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="text-center mb-5">
                        <h2 class="">Video tutorial</h2>
                        <P class="text-muted">Dapatkan video terkini aplikasi kami yang dapat membantu anda membuat anda
                            selesa dengan aplikasi ini.</P>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-lg-3 col-md-3">
                    <div class="project-box mb-4">
                        <div class="position-relative overflow-hidden rounded">
                            <!-- <img src="https://odajer.com/assets/site_new/img/tutorial/blog-1.jpg" alt=""
                                class="img-fluid d-block mx-auto shadow"> -->
                            <img src="../../assets/images/tutorial/blog-1.jpg" alt=""
                                class="img-fluid d-block mx-auto shadow">
                            <div class="project-overlay">
                                <div class="project-content">
                                    <a href="https://www.youtube.com/watch?v=6jiNS_4CEug">
                                        <div class="project-icon">
                                            <i class="fa fa-play" aria-hidden="true"></i>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="p-3">
                            <h4 class="f-17 mb-1"><a href="" class="text-dark">Konfigurasi Aplikasi Facebook</a></h4>
                            <!-- <p class="text-muted">UI/UX Designer</p> -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="project-box mb-4">
                        <div class="position-relative overflow-hidden rounded">
                            <img src="../../assets/images/tutorial/blog-2.jpg" alt=""
                                class="img-fluid d-block mx-auto shadow">
                            <div class="project-overlay">
                                <div class="project-content">
                                    <a href="https://www.youtube.com/watch?v=6jiNS_4CEug">
                                        <div class="project-icon">
                                            <i class="fa fa-play" aria-hidden="true"></i>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="p-3">
                            <h4 class="f-17 mb-1"><a href="" class="text-dark">Ciri-ciri Pengeposan Halaman</a></h4>
                            <!-- <p class="text-muted">Web Designer</p> -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="project-box mb-4">
                        <div class="position-relative overflow-hidden rounded">
                            <img src="../../assets/images/tutorial/blog-3.jpg" alt=""
                                class="img-fluid d-block mx-auto shadow">
                            <div class="project-overlay">
                                <div class="project-content">
                                    <a href="https://www.youtube.com/watch?v=6jiNS_4CEug">
                                        <div class="project-icon">
                                            <i class="fa fa-play" aria-hidden="true"></i>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="p-3">
                            <h4 class="f-17 mb-1"><a href="" class="text-dark">Pengumuman</a></h4>
                            <!-- <p class="text-muted">Web Designer</p> -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="project-box mb-4">
                        <div class="position-relative overflow-hidden rounded">
                            <img src="../../assets/images/tutorial/blog-4.jpg" alt=""
                                class="img-fluid d-block mx-auto shadow">
                            <div class="project-overlay">
                                <div class="project-content">
                                    <a href="https://www.youtube.com/watch?v=6jiNS_4CEug">
                                        <div class="project-icon">
                                            <i class="fa fa-play" aria-hidden="true"></i>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="p-3">
                            <h4 class="f-17 mb-1"><a href="" class="text-dark">Demo Penuh</a></h4>
                            <!-- <p class="text-muted">Web Designer</p> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Project End -->

    <!-- Intro Start -->
    <section class="hero-2-bg bg-primary position-relative">
        <div class="hero-overlay hero-2-overlay" style="background-image: url(../../assets/images/hero-2-overlay.png)">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="intro-image wow fadeIn text-center"
                        style="visibility: visible; animation-name: fadeIn;">
                        <img src="../../assets/images/home-two-promo-mockup.png" alt=""
                            style="max-width: 82%;margin:0 auto;">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Intro End -->


    <!-- Project Start -->
    <section class="section bg-light" id="project">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="text-center mb-5">
                        <h2 class="">Penghantaran mesej secara pukal</h2>
                        <P class="text-muted">Penghantaran mesej pukal adalah salah satu ciri utama Odajer. Anda boleh
                            menghantar mesej pukal ke petunjuk utusan anda.</P>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="row flex-v-center">
                    <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                        <div class="qs-box pos-icon-right mb100 wow fadeIn"
                            style="visibility: visible; animation-name: fadeIn;">
                            <div class="qs-box-icon">
                                <img src="../../assets/images/icon/icon-1.png" alt="">
                            </div>
                            <h4>Import Akaun</h4>
                            <p>Import akaun Facebook anda, klik log masuk dengan butang Facebook.</p>
                        </div>
                        <div class="qs-box  pos-icon-right wow fadeIn xs-mb50"
                            style="visibility: visible; animation-name: fadeIn;">
                            <div class="qs-box-icon">
                                <img src="../../assets/images/icon/icon-2.png" alt="">
                            </div>
                            <h4>Sync petunjuk halaman</h4>
                            <p>Anda boleh sync semua petunjuk yang sudah dalam perbualan dengan halaman anda atau anda
                                telah menghantar balasan
                                peribadi.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12 hidden-xs hidden-sm">
                        <div class="service-image text-center wow fadeIn xs-mb50"
                            style="visibility: visible; animation-name: fadeIn;">
                            <img class="jam-img" src="../../assets/images/home-two-work-mockup.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 pull-left">
                        <div class="qs-box  pos-icon-left mb100 wow fadeIn"
                            style="visibility: visible; animation-name: fadeIn;">
                            <div class="qs-box-icon">
                                <img src="../../assets/images/icon/icon-3.png" alt="">
                            </div>
                            <h4>Buat Kempen</h4>
                            <p>Anda boleh menghantar ke berbilang halaman kempen atau berbilang kumpulan kempen atau ke
                                kempen tersendiri.</p>
                        </div>
                        <div class="qs-box pos-icon-left wow fadeIn"
                            style="visibility: visible; animation-name: fadeIn;">
                            <div class="qs-box-icon">
                                <img src="../../assets/images/icon/icon-4.png" alt="">
                            </div>
                            <h4>Laporan penghantaran penuh</h4>
                            <p>Anda akan dapat melihat laporan penyampaian kempen sepenuhnya, di mana anda akan mendapat
                                laporan akhir.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="intro-area section-padding relative" style="padding:0">
        <div class="container">
            <div class="row flex-v-center">
                <div class="col-xs-12">
                    <img src="../../assets/images/feature/3.jpg" class="img-responsive"
                        style="margin:0 auto 100px auto;">

                    <img src="../../assets/images/feature/1.jpg" class="img-responsive"
                        style="width:100%;max-width:700px;margin:0 auto;">
                </div>
            </div>
        </div>
    </section>
    <!-- Project End -->

    <!-- About Start -->
    <section class="section bg-light" id="project">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="text-center mb-5">
                        <h2 class="">Mengenai aplikasi kami</h2>
                        <P class="text-muted">Perisian pemasaran Messenger pertama, paling terbaik dan lengkap di dunia
                            untuk Facebook.</P>
                    </div>
                </div>
            </div>

            <div class="row flex-v-center">
                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                    <div class="about-content sm-mb50 sm-center">
                        <h4 class="mb30">Odajer - Perisian pemasaran Master Messenger untuk Facebook</h4>
                        <p>Odajer Merupakan penemuan yang sangat baru dan mengejutkan untuk pemasaran internet. Facebook
                            menyediakan beberapa
                            teknik untuk pemasaran yang tersembunyi dan belum ada yang tahu. Facebook tidak menyediakan
                            pautan muka depan untuk
                            menggunakan perisian hebat ini. Ini boleh terjadi dengan menggunakan pengetahuan
                            pengaturcaraan yang baik sahaja.
                            Bahagian yang paling menarik adalah, pemasaran percuma sepenuhnya 50 kali lebih baik
                            daripada pemasaran e-mel yang lain.
                            Kami telah membuat alat untuk perniagaan kami sendiri dan mendapat kejayaan besar yang tidak
                            dapat anda bayangkan.
                            Odajer Merupakan pengirim mesej pukal pertama di dunia kepada pelanggan Facebook messenger.
                            Ini adalah alternatif
                            pemasaran e-mel terbaik yang lebih hebat.</p>
                        <a href="#video" class="video-button mt30 inline-block"><i class="fas fa-play"></i>Lihat promo
                            video</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                    <div class="about-mockup center wow fadeIn xs-mt50"
                        style="visibility: visible; animation-name: fadeIn;">
                        <img src="../../assets/images/home-two-about-mockup.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About End -->

    <!-- Download Start -->
    <section class="download-area section-padding relative white" id="download" style="background-color: #545096;">
        <div class="area-bg"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <div class="download-content sm-center xs-center xs-mb50 xs-font wow fadeIn"
                        style="visibility: visible; animation-name: fadeIn;">
                        <h2>Dapatkan aplikasi terbaik!</h2>
                        <p>Odajer Menyediakan pakej percubaan kepada anda. Oleh itu, klik pada butang dan terokai.</p>
                        <a href="https://odajer.com/home/sign_up" class="download-button wow shake"
                            style="visibility: visible; animation-name: shake;"><i class="fas fa-shopping-cart"
                                style="font-size: 30px; left: 14px; position: absolute; top: 16px;"></i>Sesi
                            Percubaan<span>7 Hari</span></a>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4 col-sm-6 col-xs-12">
                    <img src="../../assets/images/hand-mockup.png" alt="">
                </div>
                <div class="col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4 col-sm-6 col-xs-12">
                    <div class="download-content sm-center xs-center wow fadeIn"
                        style="visibility: visible; animation-name: fadeIn;">
                        <h2>Harga yang luar biasa</h2>
                        <p>Perisian pemasaran Messenger terhebat untuk Facebook dengan harga yang sangat berpatutan.
                            Oleh itu, terokai pakej yang
                            tersedia dan dapatkan perisian terbaik di dunia.</p>
                        <a href="#pricing" class="download-button wow shake"
                            style="visibility: visible; animation-name: shake;"><i class="fas fa-dollar"></i>Dapatkan
                            aplikasi ini.
                            <span>Harga pakej</span></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Download End -->

    <!-- Testimonial Start -->
    <section class="section" id="clients">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="text-center mb-5">
                        <h2 class="">Apa Kata Pelanggan</h2>
                        <!-- <P class="text-muted">Ut enim ad minima veniam quis nostrum exercitationem ullam corporis
                            suscipit laboriosam nisi commodi consequatur.</P> -->
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <!-- <div class="owl-carousel owl-theme testi-content" id="testi-clients">
                        <div class="item">
                            <div class="testi-box text-center m-2">
                                <div class="card border-0 shadow p-4 mb-4">
                                    <div class="mt-1 mb-3">
                                        <img src="../../assets/images/testi-icon.png" alt=""
                                            class="testi-icon img-fluid d-block mx-auto w-auto">
                                    </div>
                                    <p class="text-muted mb-0 f-15">Et harum quidem rerum facilis expedita distinctio
                                        nam libero tempore soluta nobis optio cumque.</p>
                                </div>
                                <div class="test-user-info">
                                    <div class="avatar-md mx-auto">
                                        <img src="../../assets/images/user/img-1.jpg" alt=""
                                            class="img-fluid d-block rounded-circle testi-user-img">
                                    </div>
                                    <h5 class="f-17 mt-3 mb-1">Joshua Vargas</h5>
                                    <p class="text-muted f-14">Web Developer, USA</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testi-box text-center m-2">
                                <div class="card border-0 shadow p-4 mb-4">
                                    <div class="mt-1 mb-3">
                                        <img src="../../assets/images/testi-icon.png" alt=""
                                            class="testi-icon img-fluid d-block mx-auto w-auto">
                                    </div>
                                    <p class="text-muted mb-0 f-15">Et harum quidem rerum facilis expedita distinctio
                                        nam libero tempore soluta nobis optio cumque.</p>
                                </div>
                                <div class="test-user-info">
                                    <div class="avatar-md mx-auto">
                                        <img src="../../assets/images/user/img-2.jpg" alt=""
                                            class="img-fluid d-block rounded-circle testi-user-img">
                                    </div>
                                    <h5 class="f-17 mt-3 mb-1">Sammie Lewis</h5>
                                    <p class="text-muted f-14">UI/UX Designer, USA</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testi-box text-center m-2">
                                <div class="card border-0 shadow p-4 mb-4">
                                    <div class="mt-1 mb-3">
                                        <img src="../../assets/images/testi-icon.png" alt=""
                                            class="testi-icon img-fluid d-block mx-auto w-auto">
                                    </div>
                                    <p class="text-muted mb-0 f-15">Et harum quidem rerum facilis expedita distinctio
                                        nam libero tempore soluta nobis optio cumque.</p>
                                </div>
                                <div class="test-user-info">
                                    <div class="avatar-md mx-auto">
                                        <img src="../../assets/images/user/img-3.jpg" alt=""
                                            class="img-fluid d-block rounded-circle testi-user-img">
                                    </div>
                                    <h5 class="f-17 mt-3 mb-1">Sarah Levine</h5>
                                    <p class="text-muted f-14">PHP Developer, USA</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testi-box text-center m-2">
                                <div class="card border-0 shadow p-4 mb-4">
                                    <div class="mt-1 mb-3">
                                        <img src="../../assets/images/testi-icon.png" alt=""
                                            class="testi-icon img-fluid d-block mx-auto w-auto">
                                    </div>
                                    <p class="text-muted mb-0 f-15">Et harum quidem rerum facilis expedita distinctio
                                        nam libero tempore soluta nobis optio cumque.</p>
                                </div>
                                <div class="test-user-info">
                                    <div class="avatar-md mx-auto">
                                        <img src="../../assets/images/user/img-4.jpg" alt=""
                                            class="img-fluid d-block rounded-circle testi-user-img">
                                    </div>
                                    <h5 class="f-17 mt-3 mb-1">Bobby Kelly</h5>
                                    <p class="text-muted f-14">Graphic Designer, USA</p>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <owl-carousel-o [options]="customOptions" class="owl-theme testi-content">
                        <ng-template carouselSlide>
                            <div class="slide">
                                <div class="testi-box text-center m-2">
                                    <div class="card border-0 shadow p-4 mb-4">
                                        <div class="mt-1 mb-3">
                                            <img src="../../assets/images/testi-icon.png" alt=""
                                                class="testi-icon img-fluid d-block mx-auto w-auto">
                                        </div>
                                        <p class="text-muted mb-0 f-15">Lorem ipsum sit amet, consectetur adipisicing
                                            elit. Harum maxime voluptate optio saepe omnis eum dolor.Vitae quidem
                                            nostrum necessitatibus distinctio, quis consequuntur similique.</p>
                                    </div>
                                    <div class="test-user-info">
                                        <div class="avatar-md mx-auto">
                                            <img src="../../assets/images/client/thumb-1.jpg" alt=""
                                                class="img-fluid d-block rounded-circle testi-user-img">
                                        </div>
                                        <h5 class="f-17 mt-3 mb-1">Ava Adams</h5>
                                        <p class="text-muted f-14">Artist</p>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="slide">
                                <div class="testi-box text-center m-2">
                                    <div class="card border-0 shadow p-4 mb-4">
                                        <div class="mt-1 mb-3">
                                            <img src="../../assets/images/testi-icon.png" alt=""
                                                class="testi-icon img-fluid d-block mx-auto w-auto">
                                        </div>
                                        <p class="text-muted mb-0 f-15">Lorem ipsum sit amet, consectetur adipisicing
                                            elit. Harum maxime voluptate optio saepe omnis eum dolor.Vitae quidem
                                            nostrum necessitatibus distinctio, quis consequuntur similique.</p>
                                    </div>
                                    <div class="test-user-info">
                                        <div class="avatar-md mx-auto">
                                            <img src="../../assets/images/client/thumb-2.jpg" alt=""
                                                class="img-fluid d-block rounded-circle testi-user-img">
                                        </div>
                                        <h5 class="f-17 mt-3 mb-1">John Roger</h5>
                                        <p class="text-muted f-14">Designer</p>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="slide">
                                <div class="testi-box text-center m-2">
                                    <div class="card border-0 shadow p-4 mb-4">
                                        <div class="mt-1 mb-3">
                                            <img src="../../assets/images/testi-icon.png" alt=""
                                                class="testi-icon img-fluid d-block mx-auto w-auto">
                                        </div>
                                        <p class="text-muted mb-0 f-15">Lorem ipsum sit amet, consectetur adipisicing
                                            elit. Harum maxime voluptate optio saepe omnis eum dolor.Vitae quidem
                                            nostrum necessitatibus distinctio, quis consequuntur similique.</p>
                                    </div>
                                    <div class="test-user-info">
                                        <div class="avatar-md mx-auto">
                                            <img src="../../assets/images/client/thumb-3.jpg" alt=""
                                                class="img-fluid d-block rounded-circle testi-user-img">
                                        </div>
                                        <h5 class="f-17 mt-3 mb-1">Albert Einstein</h5>
                                        <p class="text-muted f-14">Digital Scientist</p>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </owl-carousel-o>
                </div>
            </div>
        </div>
    </section>
    <!-- Testimonial End -->

    <!-- Latest News Start -->
    <section class="section bg-light">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="text-center mb-5">
                        <h2 class="">Harga Pakej</h2>
                        <P class="text-muted">Dapatkan perisian pemasaran Messenger pertama, paling terbaik dan lengkap
                            di dunia untuk Facebook dengan harga yang
                            sangat berpatutan.</P>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <div class="single-price center wow fadeInUp" data-wow-delay="0.2s"
                        style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                        <div class="price-hidding">
                            <h4>SME</h4>
                        </div>
                        <div class="price-rate">
                            <h3>
                                <br>
                                <sup>RM</sup>697 <sub>365 Hari</sub>
                                <br><br>
                            </h3>

                        </div>
                        <div class="price-details scrollit text-left"
                            style="height: 300px; overflow: hidden; outline: currentcolor none medium;" tabindex="1">
                            <ul>
                                <li>
                                    <i class="fas fa-circle"></i>&nbsp;
                                    Facebook Accounts : <b><b>Tanpa Had</b></b><br>
                                </li>
                                <li>
                                    <i class="fas fa-circle"></i>&nbsp;
                                    Facebook Pages : <b><b>Tanpa Had</b></b><br>
                                </li>
                                <li>
                                    <i class="fas fa-circle"></i>&nbsp;
                                    Messenger Bot : <b><b>Tanpa Had</b></b><br>
                                </li>
                            </ul>
                        </div>

                        <div class="buy-now-button ">
                            <a href="https://odajer.com/home/sign_up" class="read-more">Daftar</a>
                        </div>
                    </div>
                </div>


                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <div class="single-price center wow fadeInUp" data-wow-delay="0.2s"
                        style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                        <div class="price-hidding">
                            <h4>Business</h4>
                        </div>
                        <div class="price-rate" style="background:#545096">
                            <h3 style="color:#FFF">
                                <br>
                                <sup>RM</sup>1397 <sub>365 Days</sub>
                                <br><br>
                            </h3>

                        </div>
                        <div class="price-details scrollit text-left"
                            style="height: 300px; overflow: hidden; outline: currentcolor none medium;" tabindex="2">
                            <ul>
                                <li>
                                    <i class="fas fa-circle"></i>&nbsp;
                                    Facebook Accounts : <b><b>Tanpa Had</b></b><br>
                                </li>
                                <li>
                                    <i class="fas fa-circle"></i>&nbsp;
                                    Facebook Pages : <b><b>Tanpa Had</b></b><br>
                                </li>
                                <li>
                                    <i class="fas fa-circle"></i>&nbsp;
                                    Messenger Bot : <b><b>Tanpa Had</b></b><br>
                                </li>
                            </ul>
                        </div>

                        <div class="buy-now-button ">
                            <a href="https://odajer.com/home/sign_up" class="read-more">Daftar</a>
                        </div>
                    </div>
                </div>


                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <div class="single-price center wow fadeInUp" data-wow-delay="0.2s"
                        style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                        <div class="price-hidding">
                            <h4>Enterprise</h4>
                        </div>
                        <div class="price-rate">
                            <h3>
                                <br>
                                <sup>RM</sup>2097 <sub>365 Days</sub>
                                <br><br>
                            </h3>

                        </div>
                        <div class="price-details scrollit text-left"
                            style="height: 300px; overflow: hidden; outline: currentcolor none medium;" tabindex="3">
                            <ul>
                                <li>
                                    <i class="fas fa-circle"></i>&nbsp;
                                    Auto Feed - WordPress Feed Post : <b><b>Tanpa Had</b></b><br>
                                </li>
                                <li>
                                    <i class="fas fa-circle"></i>&nbsp;
                                    Auto Feed - YouTube Video Post : <b><b>Tanpa Had</b></b><br>
                                </li>
                                <li>
                                    <i class="fas fa-circle"></i>&nbsp;
                                    Comment Automation : Auto Comment Campaign : <b><b>Tanpa Had</b></b><br>
                                </li>
                                <li>
                                    <i class="fas fa-circle"></i>&nbsp;
                                    Comment Automation : Auto Reply Posts : <b><b>Tanpa Had</b></b><br>
                                </li>
                                <li>
                                    <i class="fas fa-circle"></i>&nbsp;
                                    Comment Reply Enhancers : Bulk Comment Reply Campaign : <b><b>Tanpa Had</b></b><br>
                                </li>
                                <li>
                                    <i class="fas fa-circle"></i>&nbsp;
                                    Comment Reply Enhancers : Comment &amp; Bulk Tag Campaign :
                                    <b><b>Tanpa Had</b></b><br>
                                </li>
                                <li>
                                    <i class="fas fa-circle"></i>&nbsp;
                                    Comment Reply Enhancers : Comment Hide/Delete and Reply with multimedia content :
                                    <b><b>Tanpa Had</b></b><br>
                                </li>
                                <li>
                                    <i class="fas fa-circle"></i>&nbsp;
                                    Comment Reply Enhancers : Full Page Auto Like/Share : <b><b>Tanpa Had</b></b><br>
                                </li>
                                <li>
                                    <i class="fas fa-circle"></i>&nbsp;
                                    Comment Reply Enhancers : Full Page Auto Reply : <b><b>Tanpa Had</b></b><br>
                                </li>
                                <li>
                                    <i class="fas fa-circle"></i>&nbsp;
                                    Conversation Promo Broadcast Send : <b><b>Tanpa Had</b></b><br>
                                </li>
                                <li>
                                    <i class="fas fa-circle"></i>&nbsp;
                                    E-commerce Product Price Variation : <b><b>Tanpa Had</b></b><br>
                                </li>
                                <li>
                                    <i class="fas fa-circle"></i>&nbsp;
                                    Email Broadcast - Email Send : <b><b>Tanpa Had</b></b><br>
                                </li>
                                <li>
                                    <i class="fas fa-circle"></i>&nbsp;
                                    Email Broadcast - Sequence Campaign : <b><b>Tanpa Had</b></b><br>
                                </li>
                                <li>
                                    <i class="fas fa-circle"></i>&nbsp;
                                    Email phone OPT-IN form builder : <b><b>Tanpa Had</b></b><br>
                                </li>
                                <li>
                                    <i class="fas fa-circle"></i>&nbsp;
                                    Facebook Accounts : <b><b>Tanpa Had</b></b><br>
                                </li>
                                <li>
                                    <i class="fas fa-circle"></i>&nbsp;
                                    Facebook Live Streaming - Campaigns : <b><b>Tanpa Had</b></b><br>
                                </li>
                                <li>
                                    <i class="fas fa-circle"></i>&nbsp;
                                    Facebook Live Streaming - Crossposting/Auto Share/Comment :
                                    <b><b>Tanpa Had</b></b><br>
                                </li>
                                <li>
                                    <i class="fas fa-circle"></i>&nbsp;
                                    Facebook Pages : <b><b>Tanpa Had</b></b><br>
                                </li>
                                <li>
                                    <i class="fas fa-circle"></i>&nbsp;
                                    Facebook Posting : Text/Image/Link/Video Post : <b><b>Tanpa Had</b></b><br>
                                </li>
                                <li>
                                    <i class="fas fa-circle"></i>&nbsp;
                                    Facebook Posting : Carousel/Slider Post : <b><b>Tanpa Had</b></b><br>
                                </li>
                                <li>
                                    <i class="fas fa-circle"></i>&nbsp;
                                    Facebook Posting : CTA Post : <b><b>Tanpa Had</b></b><br>
                                </li>
                                <li>
                                    <i class="fas fa-circle"></i>&nbsp;
                                    Flow Builder - Allow Subscribers To Use Templates : <b><b>Tanpa Had</b></b><br>
                                </li>
                                <li>
                                    <i class="fas fa-circle"></i>&nbsp;
                                    Flow Builder - Limit On Number Of Flows User Can Create :
                                    <b><b>Tanpa Had</b></b><br>
                                </li>
                                <li>
                                    <i class="fas fa-circle"></i>&nbsp;
                                    Google My Business: Account Import : <b><b>Tanpa Had</b></b><br>
                                </li>
                                <li>
                                    <i class="fas fa-circle"></i>&nbsp;
                                    Google My Business: Answer To Questions : <b><b>Tanpa Had</b></b><br>
                                </li>
                                <li>
                                    <i class="fas fa-circle"></i>&nbsp;
                                    Google My Business: Media Upload To Locations : <b><b>Tanpa Had</b></b><br>
                                </li>
                                <li>
                                    <i class="fas fa-circle"></i>&nbsp;
                                    Google My Business: Post To Locations : <b><b>Tanpa Had</b></b><br>
                                </li>
                                <li>
                                    <i class="fas fa-circle"></i>&nbsp;
                                    Google My Business: Reply To Reviews : <b><b>Tanpa Had</b></b><br>
                                </li>
                                <li>
                                    <i class="fas fa-circle"></i>&nbsp;
                                    Google My Business: RSS Auto Posting : <b><b>Tanpa Had</b></b><br>
                                </li>
                                <li>
                                    <i class="fas fa-circle"></i>&nbsp;
                                    Hidden Interest Explorer : <b><b>Tanpa Had</b></b><br>
                                </li>
                                <li>
                                    <i class="fas fa-circle"></i>&nbsp;
                                    Inbox Conversation Manager : <b><b>Tanpa Had</b></b><br>
                                </li>
                                <li>
                                    <i class="fas fa-circle"></i>&nbsp;
                                    Instagram Auto Comment Reply Enable Post : <b><b>Tanpa Had</b></b><br>
                                </li>
                                <li>
                                    <i class="fas fa-circle"></i>&nbsp;
                                    Instagram Posting : Image/Video Post : <b><b>Tanpa Had</b></b><br>
                                </li>
                                <li>
                                    <i class="fas fa-circle"></i>&nbsp;
                                    Instagram Reply Enhancers - Campaigns : <b><b>Tanpa Had</b></b><br>
                                </li>
                                <li>
                                    <i class="fas fa-circle"></i>&nbsp;
                                    Messenger Bot : <b><b>Tanpa Had</b></b><br>
                                </li>
                                <li>
                                    <i class="fas fa-circle"></i>&nbsp;
                                    Messenger Bot - Connectivity : JSON API : <b><b>Tanpa Had</b></b><br>
                                </li>
                                <li>
                                    <i class="fas fa-circle"></i>&nbsp;
                                    Messenger Bot - Connectivity : Webview Builder : <b><b>Tanpa Had</b></b><br>
                                </li>
                                <li>
                                    <i class="fas fa-circle"></i>&nbsp;
                                    Messenger Bot - Email Auto Responder : <b><b>Tanpa Had</b></b><br>
                                </li>
                                <li>
                                    <i class="fas fa-circle"></i>&nbsp;
                                    Messenger Bot - Enhancers : Broadcast : Subscriber Bulk Message Send :
                                    <b><b>Tanpa Had</b></b><br>
                                </li>
                                <li>
                                    <i class="fas fa-circle"></i>&nbsp;
                                    Messenger Bot - Enhancers : Engagement : Checkbox Plugin :
                                    <b><b>Tanpa Had</b></b><br>
                                </li>
                                <li>
                                    <i class="fas fa-circle"></i>&nbsp;
                                    Messenger Bot - Enhancers : Engagement : Customer Chat Plugin :
                                    <b><b>Tanpa Had</b></b><br>
                                </li>
                                <li>
                                    <i class="fas fa-circle"></i>&nbsp;
                                    Messenger Bot - Enhancers : Engagement : m.me Links : <b><b>Tanpa Had</b></b><br>
                                </li>
                                <li>
                                    <i class="fas fa-circle"></i>&nbsp;
                                    Messenger Bot - Enhancers : Engagement : Send to Messenger :
                                    <b><b>Tanpa Had</b></b><br>
                                </li>
                                <li>
                                    <i class="fas fa-circle"></i>&nbsp;
                                    Messenger Bot - Enhancers : Sequence Messaging : Message Send :
                                    <b><b>Tanpa Had</b></b><br>
                                </li>
                                <li>
                                    <i class="fas fa-circle"></i>&nbsp;
                                    Messenger Bot - Enhancers : Sequence Messaging Campaign :
                                    <b><b>Tanpa Had</b></b><br>
                                </li>
                                <li>
                                    <i class="fas fa-circle"></i>&nbsp;
                                    Messenger Bot - Persistent Menu : <b><b>Tanpa Had</b></b><br>
                                </li>
                                <li>
                                    <i class="fas fa-circle"></i>&nbsp;
                                    Messenger Bot - Persistent Menu : Copyright Enabled : <b><b>Tanpa Had</b></b><br>
                                </li>
                                <li>
                                    <i class="fas fa-circle"></i>&nbsp;
                                    Messenger Bot : Export, Import &amp; Tree View : <b><b>Tanpa Had</b></b><br>
                                </li>
                                <li>
                                    <i class="fas fa-circle"></i>&nbsp;
                                    Messenger E-commerce : <b><b>Tanpa Had</b></b><br>
                                </li>
                                <li>
                                    <i class="fas fa-circle"></i>&nbsp;
                                    One Time Notification Send : <b><b>Tanpa Had</b></b><br>
                                </li>
                                <li>
                                    <i class="fas fa-circle"></i>&nbsp;
                                    Rss auto posting : <b><b>Tanpa Had</b></b><br>
                                </li>
                                <li>
                                    <i class="fas fa-circle"></i>&nbsp;
                                    SMS Broadcast - Sequence Campaign : <b><b>Tanpa Had</b></b><br>
                                </li>
                                <li>
                                    <i class="fas fa-circle"></i>&nbsp;
                                    SMS Broadcast - SMS Send : <b><b>Tanpa Had</b></b><br>
                                </li>
                                <li>
                                    <i class="fas fa-circle"></i>&nbsp;
                                    Social Poster - Access : <b><b>Tanpa Had</b></b><br>
                                </li>
                                <li>
                                    <i class="fas fa-circle"></i>&nbsp;
                                    Social Poster - Account Import : Linkedin : <b><b>Tanpa Had</b></b><br>
                                </li>
                                <li>
                                    <i class="fas fa-circle"></i>&nbsp;
                                    Social Poster - Account Import : Medium : <b><b>Tanpa Had</b></b><br>
                                </li>
                                <li>
                                    <i class="fas fa-circle"></i>&nbsp;
                                    Social Poster - Account Import : WordPress : <b><b>Tanpa Had</b></b><br>
                                </li>
                                <li>
                                    <i class="fas fa-circle"></i>&nbsp;
                                    Social Poster - Account Import : WordPress (Self hosted) :
                                    <b><b>Tanpa Had</b></b><br>
                                </li>
                                <li>
                                    <i class="fas fa-circle"></i>&nbsp;
                                    Social Poster - Account Import : Blogger : <b><b>Tanpa Had</b></b><br>
                                </li>
                                <li>
                                    <i class="fas fa-circle"></i>&nbsp;
                                    Social Poster - Account Import : Pinterest : <b><b>Tanpa Had</b></b><br>
                                </li>
                                <li>
                                    <i class="fas fa-circle"></i>&nbsp;
                                    Social Poster - Account Import : Reddit : <b><b>Tanpa Had</b></b><br>
                                </li>
                                <li>
                                    <i class="fas fa-circle"></i>&nbsp;
                                    Social Poster - Account Import : Twitter : <b><b>Tanpa Had</b></b><br>
                                </li>
                                <li>
                                    <i class="fas fa-circle"></i>&nbsp;
                                    Social Poster - Account Import : Youtube : <b><b>Tanpa Had</b></b><br>
                                </li>
                                <li>
                                    <i class="fas fa-circle"></i>&nbsp;
                                    Social Poster - HTML Post : <b><b>Tanpa Had</b></b><br>
                                </li>
                                <li>
                                    <i class="fas fa-circle"></i>&nbsp;
                                    Social Poster - Image Post : <b><b>Tanpa Had</b></b><br>
                                </li>
                                <li>
                                    <i class="fas fa-circle"></i>&nbsp;
                                    Social Poster - Link Post : <b><b>Tanpa Had</b></b><br>
                                </li>
                                <li>
                                    <i class="fas fa-circle"></i>&nbsp;
                                    Social Poster - Text Post : <b><b>Tanpa Had</b></b><br>
                                </li>
                                <li>
                                    <i class="fas fa-circle"></i>&nbsp;
                                    Social Poster - Video Post : <b><b>Tanpa Had</b></b><br>
                                </li>
                                <li>
                                    <i class="fas fa-circle"></i>&nbsp;
                                    Subscriber Manager : Background Lead Scan : <b><b>Tanpa Had</b></b><br>
                                </li>
                                <li>
                                    <i class="fas fa-circle"></i>&nbsp;
                                    User input flow campaign : <b><b>Tanpa Had</b></b><br>
                                </li>
                                <li>
                                    <i class="fas fa-circle"></i>&nbsp;
                                    Utility Search Tools : <b><b>Tanpa Had</b></b><br>
                                </li>
                                <li>
                                    <i class="fas fa-circle"></i>&nbsp;
                                    WoocCommerce Integration : <b><b>Tanpa Had</b></b><br>
                                </li>
                            </ul>
                        </div>

                        <div class="buy-now-button ">
                            <a href="https://odajer.com/home/sign_up" class="read-more">Daftar</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- Latest News End -->

    <!-- Contact Us Start -->
    <Section class="section" id="contact">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="text-center mb-5">
                        <h2 class="">Hubungi Kami</h2>
                        <P class="text-muted">Jangan ragu-ragu untuk menghubungi kami.</P>
                    </div>
                </div>
            </div>

            <div class="row align-items-center justify-content-center">
                <div class="col-lg-6 col-md-10">
                    <div class="mb-5 mb-lg-0">
                        <div class="text-center">
                            <img src="../../assets/images/contact-img.png" alt=""
                                class="img-fluid d-block w-75 mx-auto">
                            <h4 class="mt-4">Adakah Anda Menghadapi Masalah..?</h4>
                            <p class="text-muted mb-4">It va esser tam simplic quam Occidental in fact it va esser
                                Occidental angles quam un skeptic cambridge es.</p>
                            <a href="#" class="btn btn-success"><i class="icon mr-2 icon-fill-white"
                                    data-feather="message-circle"></i> Mulakan Chat Secara Langsung</a>
                            <p class="mt-4">Atau anda boleh menghubungi di</p>
                            <div class="row">
                                <div class="col-md-6">
                                    <a href="#">
                                        <div class="badge f-14 bg-soft-dark text-muted"><span
                                                class="text-dark mr-1">Email:</span> admin@odajer.com</div>
                                    </a>
                                </div>
                                <div class="col-md-6 mt-2 mt-sm-0">
                                    <a href="#">
                                        <div class="badge f-14 bg-soft-dark text-muted"><span
                                                class="text-dark mr-1">Phone:</span> (001) 1234 567 890</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1">
                    <h4 class="line-height-1_4 mb-4">Get in Touch</h4>
                    <div class="custom-form mt-4 mt-lg-0">
                        <div id="message"></div>
                        <form method="post" action="php/contact.php" name="contact-form" id="contact-form">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group app-label">
                                        <label for="name" class="text-muted">First Name</label>
                                        <input name="name" id="name" type="text" class="form-control"
                                            placeholder="Enter. . .">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group app-label">
                                        <label for="name" class="text-muted">Last Name</label>
                                        <input name="name" id="name1" type="text" class="form-control"
                                            placeholder="Enter. . .">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group app-label">
                                        <label for="name" class="text-muted">Email</label>
                                        <input name="email" id="email" type="email" class="form-control"
                                            placeholder="Email. . .">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group app-label">
                                        <label for="name" class="text-muted">Message</label>
                                        <textarea name="comments" id="comments" rows="4" class="form-control"
                                            placeholder="Message. . ."></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="submit" id="submit" name="send" class="btn btn-primary">Send
                                        Message</button>
                                    <div id="simple-msg"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </Section>
    <!-- Contact Us End -->

    <!-- Footer Start -->
    <section class="footer" style="background-image: url(../../assets/images/hero-1-bg-img.png)">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="mb-5">
                        <img src="../../assets/images/logo.png" alt="" class="" height="35">
                        <p class="text-white-50 my-4">Cras ultricies mi eu turpis sit hendrerit fringilla vestibulum
                            ante ipsum primis in faucibus ultrices posuere cubilia.</p>
                        <ul class="social-bookmark mt50 ">
                            <li>
                                <a title="Facebook" target="_blank" class="facebook" href="https://www.facebook.com/"><i
                                        class="fab fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a title="Twitter" target="_blank" class="twitter" href="https://twitter.com/"><i
                                        class="fab fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a title="Linkedin" target="_blank" class="linkedin" href="https://www.linkedin.com/"><i
                                        class="fab fa-linkedin"></i>
                                </a>
                            </li>
                            <li>
                                <a title="Youtube" target="_blank" class="youtube" href="https://www.youtube.com/"><i
                                        class="fab fa-youtube"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-7 offset-lg-1">
                    <div class="row">
                        <div class="col-md-4">

                        </div>
                        <div class="col-md-4">

                        </div>
                        <div class="col-md-4">
                            <h4 class="text-white f-22 font-weight-normal mb-3">Learn More</h4>
                            <ul class="list-unstyled footer-sub-menu">
                                <li><a href="#" class="footer-link">Developers</a></li>
                                <li><a href="#" class="footer-link">Support</a></li>
                                <li><a href="#" class="footer-link">Customer Service</a></li>
                                <li><a href="#" class="footer-link">Get Started</a></li>
                                <li><a href="#" class="footer-link">Guide</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center mt-5">
                        <p class="text-white-50 f-15 mb-0">2021 ©</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer End -->

    <!-- javascript -->
    <!-- <script src="../../assets/js/jquery.min.js"></script>
    <script src="../../assets/js/bootstrap.bundle.min.js"></script>
    <script src="../../assets/js/scrollspy.min.js"></script>
    <script src="../../assets/js/jquery.easing.min.js"></script> -->
    <!-- feather icons -->
    <!-- <script src="https://unpkg.com/feather-icons"></script> -->

    <!-- carousel -->
    <!-- <script src="../../assets/js/owl.carousel.min.js"></script> -->

    <!-- Main Js -->
    <!-- <script src="../../assets/js/app.js"></script> -->

    <script>
        // Fether icon
        feather.replace()

        // Testimonial
        // $('#testi-clients').owlCarousel({
        //     loop: true,
        //     center: true,
        //     autoplay: true,
        //     autoplayTimeout: 3000,
        //     margin: 20,
        //     nav: true,
        //     responsive: {
        //         0: {
        //             items: 1
        //         },
        //         600: {
        //             items: 2
        //         },
        //         1000: {
        //             items: 3
        //         }
        //     }
        // })
    </script>

</body>